<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6173179406-b57o2ev9qbf3qurprg9akagcof0dnh2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6173179406-b57o2ev9qbf3qurprg9akagcof0dnh2n</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ20t65CHu2-UatotQxseRqtShQlQ-veA</string>
	<key>GCM_SENDER_ID</key>
	<string>6173179406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hungnguyen.SignupFirebase</string>
	<key>PROJECT_ID</key>
	<string>hungnguyen-1994</string>
	<key>STORAGE_BUCKET</key>
	<string>hungnguyen-1994.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6173179406:ios:454069235751712f4e065f</string>
	<key>DATABASE_URL</key>
	<string>https://hungnguyen-1994.firebaseio.com</string>
</dict>
</plist>